<!-- Angular Reactive From  -->

<section>
    <h2>Write Your Blog</h2>
    <p>Write a blog and express yourself to the world!</p>
    <form [formGroup]="blogForm" (ngSubmit)="submitBlog()">
        <input type="text" id="title" formControlName="title" placeholder="Enter title" autofocus required />
        <br />
        <br />
        <textarea formControlName="body" id="body" cols="30" rows="10"></textarea>
        <br />
        <br />
        <input type="text" formControlName="topics" (input)="topicInputChange()">
        <br />
        <ul *ngIf="selectedTopics.length > 0">
            <li *ngFor="let sugg of selectedTopics" (click)="selectTopic(sugg)">{{sugg}}</li>
        </ul>
        <br />
        <br />
        <input type="submit" value="Publish">
    </form>
</section>


<!-- Angular Template Driven From  -->

<!-- <section>
    <h2>Write Your Blog</h2>
    <p>Write a blog and express yourself to the world!</p>
    <form (ngSubmit)="submitBlog()">
        <input [(ngModel)]="blogData.title" type="text" id="title" name="title" placeholder="Enter title" required />
        <br />
        <br />
        <textarea [(ngModel)]="blogData.body" name="body" id="body" cols="30" rows="10"></textarea>
        <br />
        <br />
        <input type="submit" value="Publish">
    </form>
</section>
 -->