<p>footer works!</p>



































<!-- <div>
    <button (click)="getUserLocation()">Location</button>
</div>
<div *ngIf="geoLoc">
    <p>{{geoLoc.latitude}}</p>
    <p>{{geoLoc.longitude}}</p>

</div>

<div>
    <button (click)="startCamera()">Start Camera</button>
    <button (click)="captureImage()">Capture Image</button>
    <button (click)="submitImage()">Submit Image</button>
    <button (click)="downloadImage()">Download Image</button>
</div>
<video #videoElement autoplay></video>
<canvas #canvasElement style="display: none;"></canvas>
<img [src]="capturedImageUrl" *ngIf="capturedImageUrl" alt="Captured Image" />

<div *ngIf="captureError" class="error-message">
    {{ captureError }}
</div> -->