
<app-parent></app-parent>


<!-- <div style="background-image: 
url('https://images.drive.com.au/driveau/image/upload/c_fill,f_auto,g_auto,h_1080,q_auto:eco,w_1920/v1/cms/uploads/tvxlwnpxvgkeyzsm3a9a');
background-repeat: no-repeat; background-size: cover;">
    <div style="min-height: 100vh; 
    text-shadow: 2px 2px #cccccc; 
    text-align: right;">
        <h1>Mercedes Benz Blogging App</h1>
       <a [routerLink]="['/all-blogs']">Read Blogs...</a>
    </div>
</div> -->



<!-- <p> {{firstName | uppercase | lowercase}} </p>
<p> {{lastName | lowercase }} </p>
<p>{{salary | currency }}</p>
<p>{{salary | currency : 'INR'}}</p>
<p> {{ 375 | percent }} </p>
<p> {{ 375 | percent : '2.5-2'}} </p>
<p> {{empData.firstName}} </p>

<div>
    <input [(ngModel)]="userData">
</div>
<div>
    <button (click)="increaseSalary()">
        Increase Salary
    </button>
</div>

<p>{{userData}}</p> -->



<!-- <img [src]="imageSource" height="400px" alt="abc"> -->