<section>
    <h2>Login</h2>
    <form [formGroup]="loginForm" (ngSubmit)="submitLogin()">
        <label for="username">Username:</label>
        <br />
        <input type="text" id="username" formControlName="username" placeholder="Enter username" autofocus required />
        <br />
        <label for="password">Password:</label>
        <br />
        <input type="password" id="password" formControlName="password" placeholder="Enter password" required />
        <br />
        <input type="submit" value="Login">
    </form>
</section>