<nav>
    <ul>
        <li><a [routerLink]="['home']"> <img height="24px"
                    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSeD7Ax-9gj1CQjF3pnBJu8SvIxXArFyZFK90n88HU5-biGPjn3SuPMPgSpMKzrL4-8WQQ&usqp=CAU"
                    alt="merc logo"></a></li>
        <li><a [routerLink]="['all-blogs']">All Blogs</a></li>
        <li><a [routerLink]="['blog-details', randomBlogId]">Blog of the Day</a></li>
        <li><a [routerLink]="['write-blog']">Write Blog</a></li>
        <li style="float:right"><a [routerLink]="['register']">Register</a></li>
        <li style="float:right"><a [routerLink]="['login']">Login</a></li>
    </ul>
</nav>