<p>blog-list works!</p>

<div *ngIf="allBlogs">
    <div *ngFor="let blog of allBlogs">
        <a [routerLink]="['/blog-details', blog.id]">{{blog.title}}</a>
    </div>
</div>




<!-- <p>blog-list works!</p>

<div *ngIf="allBlogs">
    <div *ngFor="let blog of allBlogs">
        <p>{{blog.title}}</p>
    </div>
</div>
 -->


<!-- <p>blog-list works!</p>

<div>
    <button (click)="getAllBlogs()">Get Blogs</button>
</div>

<div *ngIf="allBlogs">
    <div *ngFor="let blog of allBlogs">
        <p>{{blog.title}}</p>
    </div>
</div> -->